<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index_styles.css">
  <title>CheCity</title>
</head>
<body>

{{!-- hamburger nav --}}

  <div class="search_bar">
    <input type="text" placeholder="Search..">
  </div> 
  {{!-- not functional --}}

  <div class="header">
    <h1 class="title" style="font-size: 3.5em; text-shadow: 3px 3px #e0e0e0; color: #43D1AF;">CheCity</h1>
      <p style="font-size: 1.5em;">Welcome to CheCity</p>

      <h1>Here are some games!</h1>
  </div>

  

  <ul class="games">
    {{#each games}}

      <div class="game">
        Host: {{this.hostname}} <br>
        Game: {{this.gametype}} <br>
        Description: {{this.description}} <br>
        Date: {{this.date}} <br>
        Time: {{this.time}} <br>
        Address: {{this.address}} <br>

      </div>
      
      <br><br>

    {{/each}}

  </ul>


</body>
</html>
