<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index_styles.css">
  <title>CheCity</title>
  {{!-- <script src="/public/javascripts/index.js"></script> --}}
</head>
<body>

<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="/newgame"><li>New Game</li></a>
          <a href="/user/login"><li>Log In</li></a>
          <a href="/user/signup"><li>Sign Up</li></a>
          <a href="/user/logout"><li>Log out</li></a>
        </ul>
      </div>
    </nav>

    {{!-- <nav class="signup"> 
     <div> 
       <a href="/user/login">Log in</a> 
       <a href="/user/signup">Sign Up</a>
      </div>
    </nav> --}}

  <div class="search_bar">
    <input type="text" placeholder="Search..">
    <img src="/images/CheCityLogoHome.png" alt="logo">
  </div> 
  {{!-- not functional --}}

  <div class="header">
    <h1 class="title" style="font-size: 3.5em;">CheCity</h1>
      <p style="font-size: 1.5em;">Welcome to CheCity</p>

      <h2>Here are some games!</h2>
  </div>

  
  
    <ul class="games">
      {{#each games}}

        <div class="game" id= {{this.gametype}}>
          Host: {{this.hostname}} <br>
          Game: {{this.gametype}} <br>
          Description: {{this.description}} <br>
          Date: {{this.date}} <br>
          Time: {{this.time}} <br>
          Address: {{this.address}} <br>
          Spaces: {{this.spaces}}
          <div id= "forms">

            <form class="button" name="delete-game-form" id="delete-game-form" action="/deletegame" method="post">
              <input id="id" type="hidden" name="id" value="{{this._id}}">
              <input type="submit" value="Delete">
            </form>

            <form class="button" name="book-game-form" id="book-game-form" action="/bookgame" method="post">
              <input id="id" type="hidden" name="id" value="{{this._id}}">
              <input class= "spaces" type= "hidden" value= "{{this.spaces}}">
              <input class= "bookButton" type="submit" value="Book">
            </form>

          </div>
        </div>
    </div>
      
      <br>
      <br>

    {{/each}}
  </ul>

<script>
  function disableButton() {
  let buttons = document.getElementsByClassName('bookButton');
  let spaces = document.getElementsByClassName('spaces'); 

  
  for (i = 0; i < (spaces.length); i++) {
    if (spaces[i].value === '0') {
      buttons[i].disabled = true;    
    } else {
      buttons[i].disabled = false;
    }
  }
}
disableButton() 
</script>
</body>
</html>
