<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index_styles.css">
  <title>CheCity</title>
</head>
<body>

<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="/newgame"><li>New Game</li></a>
          <a href="/about"><li>About</li></a>
          <a href="/user/login"><li>Log In</li></a>
          <a href="/user/signup"><li>Sign Up</li></a>
          <a href="/user/logout"><li>Log out</li></a>
        </ul>
      </div>
    </nav>

  <div class="search_bar">
    <img src="/images/CheCityLogoHome.png" alt="logo">
    <h1 class="title">CheCity</h1>
  </div> 

  <div class="header">
      <p style="font-size: 2em; color: #2f3e46; text-shadow: 0 0 2px lightgray;">Welcome to CheCity</p>

      <h2 style="font-size: 1.8em; color: #2f3e46; text-shadow: 0 0 2px lightgray;">Choose to host or attend a game of chess!</h2>
  <div class="filter">
    <label for="filtering" style="text-shadow: 0 0 2px lightgray;">Choose a game:</label>

      <form id="gametype"name="gametype" action="/filter" method="post">
        <select id="gameoptions" name="gameoptions">
          <option value="" disabled selected>Game type</option>
          <option value="Bullet">Bullet Chess</option>
          <option value="Blitz">Blitz Chess</option>
          <option value="Rapid">Rapid Chess</option>
          <option value="Classic">Classic Chess</option>
        </select>
        <input type="submit" value="Filter">
      </form>
  </div>

  
  </div>

  
  <div class="game-box">
  
    <ul class="games">
      {{#each games}}

        <div class="game" id= {{this.id}}>
          Host: <a href="/user/profile/{{this.hostid}}">{{this.hostname}}</a> <br><br>

          Game: {{this.gametype}} <br><br>

          Description: {{this.description}} <br><br>

          Date: {{this.date}} <br><br>
          Time: {{this.time}} <br><br>

          Address: {{this.address}} <br><br>

          Spaces: {{this.spaces}}
          <div id= "forms">


            <form class="delete-button" name="delete-game-form" id="delete-game-form" action="/deletegame" method="post">
              <input id="id" type="hidden" name="id" value="{{this._id}}">           
              <p class="submit"><input type="submit" name="delete" value="Delete"></p>
            </form>

            <form class="book-button" name="book-game-form" id="book-game-form" action="/bookgame" method="post">
              <input id="id" type="hidden" name="id" value="{{this._id}}">
              <input class= "spaces" type= "hidden" value= "{{this.spaces}}">
              <p class="submit"><input class= "bookButton" type="submit" name="book" value="Book"></p>
            </form>
          </div>
          
        </div>
      
        <br>
        <br>


      {{/each}}
    </ul>
  </div>

<script>
  function disableButton() {
    let buttons = document.getElementsByClassName('bookButton');
    let spaces = document.getElementsByClassName('spaces'); 


    
    for (i = 0; i < (spaces.length); i++) {
      if (spaces[i].value === '0') {
        buttons[i].disabled = true;
        buttons[i].value = 'Fully Booked'    
      } else {
        buttons[i].disabled = false;
      }
    }
  }
  disableButton() 
</script>
</body>
</html>
